# hidden files and directory #
##############################
.*
!/.gitignore
README.txt
TODO.txt
web/.htaccess


# temporary files #
###################
*~

# cache and log #
###################
cache/
log/

# test directory  #
###################
test/*