# hidden files and directory #
##############################
.*
!/.gitignore


# temporary files #
###################
*~

# cache and log #
###################
cache/
log/

# test directory  #
###################
test/*